<header>
  <div class="container">
    <a routerLink="/" class="logo">
      
        <img class="logo" src="../../../assets/Enziq-1.svg" alt="enziq.com - All you need is here!">
    </a>
    <!-- <a routerLink="/" class="logo">{{appTitle}}</a> -->
    <nav>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/contact">Contact Us</a></li>
        <li><a routerLink="/details">Details</a></li>
        <!-- <li><a routerLink="/sign-in" *ngIf="authService.isLoggedIn" (click)="authService.SignOut()">Log Out</a></li> -->
        <!-- <li *ngIf="authService.isLoggedIn">Howdy {{authService.user.displayName}} </li> -->
      </ul>
    </nav>
  </div>
</header>